#AsideMenu {
	display: flex;
	flex-direction: column;
	gap: var(--padding);
	padding: var(--padding);
	justify-content: space-between;
	min-height: 100%;

	border: 1px solid yellowgreen;
	border-bottom: none;
  
	border-right: 1px solid hsl(221, 14%, 24% );
	position: relative; 

	label[for="minime-side-menu"] {
		position: absolute;
		top: 24px;
		right: 0;
		transform: translateX(50%);
		user-select: none;
		cursor: pointer;
	}


	label:has( input#minime-side-menu:checked) {
	  transform: translateX(50%) rotateZ(180deg);
	}

	.group-options-menu {
		width: 100%;
		min-height: 30px;
		overflow: hidden;

		#title {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;

		}

		ul.ul {
			padding-left: var(--padding);

		}

	}

}

#AsideMenu:not(:hover) label:has(input#minime-side-menu[type="checkbox"]:not(:checked)) {
	  opacity: 0;
	  transition-duration: .4s;
}

#AsideMenu:has(input#minime-side-menu[type="checkbox"]:checked) .ItemOptionMenu span, #AsideMenu:has(input#minime-side-menu[type="checkbox"]:checked) .group-options-menu > #title{
	display: none;
}

@media(max-width: 600px) {
  #AsideMenu {
  	label:has( input#minime-side-menu:not(:checked)) {
	  transform: translateX(100%) rotateZ(180deg);
	}

	label:has( input#minime-side-menu:checked) {
	  transform: translateX(50%) rotateZ(0);
	}
  }
}
