#AsideMenu {
	display: flex;
	flex-direction: column;
	height: 100%;
  
  	border-right: 1px solid hsl(221, 14%, 24% );
  	position: relative; 

	label[for="minime-side-menu"] {
		position: absolute;
		top: 24px;
		right: 0;
		transform: translateX(50%);
		user-select: none;
		cursor: pointer;
	}


	label:has( input#minime-side-menu:checked) {
	  transform: translateX(50%) rotateZ(180deg);
	}

	#AsideMenu:not(:hover) label:has(input#minime-side-menu[type="checkbox"]:not(:checked)) {
	  opacity: 0;
	  transition-duration: .4s;
	}

}


@media(max-width: 600px) {
  #AsideMenu {
  	label:has( input#minime-side-menu:not(:checked)) {
	  transform: translateX(100%) rotateZ(180deg);
	}

	label:has( input#minime-side-menu:checked) {
	  transform: translateX(50%) rotateZ(0);
	}
  }
}
