/* [range 4]*/
:root { 
	--padding: 12px;
	--margin-default: 8px;
	--color-border: hsl(221, 14%, 24% );
	--border-solid: 1px solid var(--color-border);
}

@media(max-width: 850px) {
	:root {
		--padding: 8px;
	}
}