@import url(constants.css);

Header {

	padding: var(--padding);
	margin: 0;
	border: 0;
	border-bottom: var(--border-solid);

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	#img-tux {
		width: 48px;
		z-index: 2;
		user-select: none;
		left: calc(100% - 48px - var(--padding));
		top: calc(var(--padding) * 2.4);
		position: fixed;
		opacity: .6;
	}

	#img-tux:hover {
		filter: drop-shadow(1px 1px 4px #ffffff88) ;
		opacity: 1;
	}

	.box-options-header {
		display: flex;
		align-items: center;
		justify-content: end;


		border: 2px dashed gray; /* hsl(171deg,100%,41%)*/;
		padding: 8px;
		padding-right: 48px;
		gap: 8px;
	}
}
