.container-about-me {
    display: flex;
}

.box-most-languages {
    border-left: 1px solid yellowgreen;
    padding: 24px;
    max-width: 100vw;
}

.ysh {
    display: flex;
    flex-direction: column;
    height: 100%;

    padding: 24px;
    padding-right: 12px;
}

.ysh img {
    width: 280px;
    border-radius: 50%;
}

.animation-snake-commits {
    max-width: 600px;
}

.tooltip {
    position: relative;
    cursor: pointer;
}

.tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

.tooltip-bottom::after {
    top: 100%;
    bottom: auto;
}

.tooltip:hover::after {
    opacity: 1;
}


@media (max-width: 832px) {
    .container-about-me {
        flex-direction: column;
        justify-content: center;
    }

    .box-most-languages {
        border-left: none;

    }

    .ysh {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        height: 100%;

        padding: 24px;
        padding-right: 12px;
    }


}

.box-most-languages {

    .label {
        font-size: 0.8em;
    }
    
    .subtitle {
        font-size: 1em;
        margin: 0 !important;
    }

    div > img {
        max-width: 32px;
    }

}