.CardProject {
	width: 380px;
	max-height: 512px;
	height: 512px;
	position: relative;

}
.CardProject .group-buttons {
	position: absolute;
	display: flex;
	gap: 6px;
	bottom: 12px;
}

/* Garantir que a imagem preencha completamente a área do contêiner */
.image-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}